
.Countries-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 580px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 15px;
    background-color: #D1B292;
    border-radius: 10px;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-between;
}